[Desktop Entry]
Encoding=UTF-8
Name=300Tang
Comment=Random wallpaper generator
Icon=gnome-info
Exec=python3 /home/yanki/Desktop/300Tang/300tang/main.py
Terminal=false
Type=Application
Categories=

X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
